
@{
    ViewBag.Title = "Shop/Index";
}
@section addcss{
    <link href="~/assets/css/shop.css" rel="stylesheet" />
}
   
    <main class="shopitself">
        <div class="shop-container">
            <div class="inputucun">
                <div class="input-box">
                    <div class="input-elements">
                        <form asp-action="index" method="get">
                        <input class="inputsearch" name="name" type="search" placeholder="Search...">
                        <button style="border: none; background: transparent;" type="submit" class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                    </div>
                </div>
            </div>
            <div class="shop-items">
                <div class="left-sidebar">
                    <div class="topofthat">
                        <i class='bx bx-filter'></i>
                        <h1>Filters</h1>
                    </div>
                    <form asp-action="index" method="get">
                    <div class="firstdropdown">
                        <span id="amount" style="display: block; margin:2% 0%;">Max Price: 1</span>
                        <input style="accent-color:red;" type="range" min="1" max="1600" value="0" name="price" id="price"/>
                    </div>
                  

                    <button type="submit" style="margin-top:20px;" class="apply-btn">Apply</button>
                    </form>
                </div>
                <div class="right-products">
                    <div class="allproducts">
                        @await Component.InvokeAsync("Product", new{max =  ViewBag.Price, name = ViewBag.Name})
                    </div>
                </div>
            </div>
        </div>
    </main>
   

    <a href="#" class="scrollup" id="scroll-up">
        <i class="fa-solid fa-arrow-up scrollup__icon"></i>
    </a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
    let addToCartBtn = $('.bx-shopping-bag');
    console.log(addToCartBtn)
    </script>
