@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/about.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>

    <main class="aboutus">
        <div class="container-about-us">
            <div class="about-items">
                <h1 class="basliqimiz">About Us</h1>
                <div class="imageforabout">
                    <img src="~/assets/images/244206.jpg" alt="">
                </div>
                <div class="hamisi">
                    <div class="sol1">
                        <h3>Who We Are ?</h3>
                        <p>Contextual advertising programs sometimes have <br> strict policies that need to be adhered too. Let’s take <br> Google as an example.</p>
                    </div>
                    <div class="orta1">
                        <h3>Who We Do ?</h3>
                        <p>In this digital generation where information can be <br> easily obtained within seconds, business cards still <br> have retained their importance.</p>
                    </div>
                    <div class="sag1">
                        <h3>Why Choose Us</h3>
                        <p>
                            A two or three storey house is the ideal way to <br> maximise the piece of earth on which our home sits, <br> but for older or infirm people.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <a href="#" class="scrollup" id="scroll-up">
        <i class="fa-solid fa-arrow-up scrollup__icon"></i>
    </a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/assets/js/about.js"></script>
</body>
</html>