@{
    ViewBag.Title = "Home/Index";
}





<section class="carousel">
    <div class="background">
        <div class="swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="firstone">
                        <div class="leftsection">
                            <h6>BEST SELLER</h6>
                            <h1>Venture 5 - Sided <br> QuickSet Screen Shelter</h1>
                            <p>Small enough to be easily packed and transported,<br> and yet big enough to offer enough room for a table and a few people inside.</p>
                            <a href="#">SHOP NOW <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                        <div class="rightsection">
                            <img src="./assets/images/tent.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="firstone">
                        <div class="leftsection">
                            <h6>BEST SELLER</h6>
                            <h1>Mr. Bar-B-Q Portable <br> Outdoor Fire Pit</h1>
                            <p>Bring the warmth and ambiance of a fireplace with you anywhere you go with the 18.5" Mr. Bar-B-Q Portable Outdoor Firepit.</p>
                            <a href="#">SHOP NOW <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                        <div class="rightsection2">
                            <img src="./assets/images/3.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="firstone">
                        <div class="leftsection">
                            <h6>BEST SELLER</h6>
                            <h1>Pit Boss 4-Burner <br> Ultimate Lift-Off Griddle</h1>
                            <p>Innovation meets versatility with the Ultimate Griddle by Pit Boss Grills.One-of-a-kind grilling machine that delivers a "bigger, hotter, heavier" outdoor cooking experience unlike anything on the market today.</p>
                            <a href="#">SHOP NOW <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                        <div class="rightsection2">
                            <img src="./assets/images/2.png" alt="">
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="firstone">
                        <div class="leftsection">
                            <h6>BEST SELLER</h6>
                            <h1>Collapsible Double Decker Outdoor Utility <br> Wagon, Teal</h1>
                            <p>MAC Sports has become synonymous with recreational furniture and equipment.</p>
                            <a href="#">SHOP NOW <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                        <div class="rightsection2">
                            <img src="./assets/images/4.png" alt="">
                        </div>
                    </div>
                </div>


            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

</section>


<section class="shop-product">
    <h2 class="featuredh1">Featured Products</h2>
    <div class="whole-box">
        <div class="box1">
            <div class="product-box">
                <a asp-area="" asp-controller="Product" asp-action="Index"><div class="product-image"> <img src="./assets/images/tent.png" alt="" class="product-img"></div></a>
                <h2 class="product-title">QuickSet Screen Shelter</h2>
                <div class="asdfg">
                    <span class="product-price">$270</span>
                    <i class='bx bx-shopping-bag add-cart'></i>
                </div>
            </div>
            <div class="product-box">
                <a href="#"> <div class="product-image"><img src="./assets/images/3.png" alt="" class="product-img"></div></a>
                <h2 class="product-title">Outdoor Fire Pit</h2>
                <div class="asdfg">
                    <span class="product-price">$150</span>
                    <i class='bx bx-shopping-bag add-cart'></i>
                </div>
            </div>
            <div class="product-box">
                <a href="#">  <div class="product-image"><img src="./assets/images/2.png" alt="" class="product-img"></div></a>
                <h2 class="product-title"> Ultimate Lift-Off Griddle</h2>
                <div class="asdfg">
                    <span class="product-price">$419</span>
                    <i class='bx bx-shopping-bag add-cart'></i>
                </div>
            </div>
        </div>
        <div class="box2">
            <div class="product-box">
                <a href="#"> <div class="product-image"><img src="./assets/images/4.png" alt="" class="product-img"></div></a>
                <h2 class="product-title"> Outdoor Utility</h2>
                <div class="asdfg">
                    <span class="product-price">$125</span>
                    <i class='bx bx-shopping-bag add-cart'></i>
                </div>
            </div>
            <div class="product-box">
                <a href="#">  <div class="product-image"><img src="./assets/images/5.png" alt="" class="product-img"></div></a>
                <h2 class="product-title">Rolling Storage Cart with Handle</h2>
                <div class="asdfg">
                    <span class="product-price">$37</span>
                    <i class='bx bx-shopping-bag add-cart'></i>
                </div>
            </div>
            <div class="product-box">
                <a href="#">  <div class="product-image"><img src="./assets/images/6.png" alt="" class="product-img"></div></a>
                <h2 class="product-title">LED Rechargeable Spotlight</h2>
                <div class="asdfg">
                    <span class="product-price">$65</span>
                    <i class='bx bx-shopping-bag add-cart'></i>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="showcase">
    <div class="background2">
        <div class="container-showcase">
            <div class="showcasecontent">
                <div class="triotext">
                    <h2>
                        Inside RV
                        <br>
                        <span>Accessories</span>
                        <br>Outside RV

                    </h2>
                </div>
                <div class="showcase-image">
                    <img class="doorimage" src="./assets/images/9.png" alt="">
                </div>
                <div class="showcase-rihtside">
                    <h4>
                        DEAL OF THE WEEK

                    </h4>
                    <h1>
                        Generac IQ3500 Portable <br> Inverter Generator
                    </h1>
                    <p class="price"> 1,599$</p>
                    <a href="#">
                        SHOP NOW
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="images">
    <div class="container-images">
        <div class="images-items">
            <div class="images-left">
                <img src="./assets/images/photo1.jpg" alt="">
                <img src="./assets/images/photo2.jpeg" alt="">
                <img src="./assets/images/photo3.png" alt="">
            </div>
            <div class="images-left2">
                <img src="./assets/images/photo4.webp" alt="">
                <img src="./assets/images/photo5.webp" alt="">
                <img src="./assets/images/photo6.webp" alt="">
            </div>
        </div>
        <div class="instagramtexts">
            <h1>Instagram</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sed do eiusmod tempor incididunt ut labore et <br> dolore magna aliqua.</p>
            <h2>#Go_Camping.</h2>
        </div>
    </div>
</section>