@using GoCamping.WebAdmin.ViewModels;
@model RoleViewModel;

@{
    ViewBag.Title = "Admin/AddRole";
}


<div class="card">
    <h5 class="card-header">Create Role</h5>
    <div class="card-body">
        <form method="post" asp-action="RoleCreate" enctype="multipart/form-data">
             <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" for="name" class="form-label">Name</label>
                <input asp-for="Name" type="text" class="form-control" required>
            </div>
        
         
            <button type="submit" value="Create" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>
