<footer>
    <div class="footercover">
        <div class="footeritems">
            <div class="footertop-items">
                <div class="birinci">
                    <a class="footerlogo" href="#">
                        Go <span>Camping.</span>
                    </a>
                    <p class="quote">Welcome To Our Campsite <br> where friends and marshmallows get toasted <br>  at the same time</p>
                </div>
                <div class="ikinci">
                    <p class="ikincibasliq">SHOPPING</p>
                    <div class="linklerfooter">
                        <a href="#">Camping Gear</a>
                        <a href="#">Trending</a>
                        <a href="#">Accessories</a>
                        <a href="#">Sale</a>
                    </div>
                </div>

                <div class="ucuncu">
                    <p class="ikincibasliq">DETAILS</p>
                    <div class="linklerfooter">
                        <a href="#">Contact Us</a>
                        <a href="#">Delivery</a>
                        <a href="#">Blog</a>
                        <a href="#">Return & Exchanges</a>
                    </div>
                </div>

                <div class="dorduncu">
                    <p class="ikincibasliq">NEWSLETTER</p>
                    <p class="befirst">Be the first to know about new <br> arrivals, look books, sales & promos!</p>
                    <form action="#">
                        <input class="newsletter" type="text" placeholder="Your Email">
                    </form>
                </div>
            </div>
            <div class="footerbottom-items"></div>
        </div>

    </div>
    </div>
</footer>
