@model GoCamping.DAL.DBModel.Product
@{
   ViewBag.Title = "Product/Index";
}

@section addcss{
    <link href="~/assets/css/product.css" rel="stylesheet" />
}




  
    <main class="product-showcase">
        <div class="product-showcase-container">
            <div class="showcase-content">
                <div class="goback"><a href="#"><i class='bx bx-chevron-left'></i><span>Go Back</span>/ Shop</a></div>
                <div class="actualproduct">
                    <div class="imagecarousel">
                       
                        <div class="img-container">
                            <img id="imageBox" src="/img/@Model.Img" alt="">
                        </div>
                    </div>
                    <div class="imagedetails">
                        <h1>@Model.Name</h1>
                        <h3>$@Model.Price</h3>
                        <p class="productfeatures">Features:</p>
                        <p class="featureinfo">
                           @Model.Description
                        </p>
                        <button>Add To Cart</button>
                    </div>
                </div>


            </div>
        </div>
    </main>

    <section class="shop-product">
        <h2 class="featuredh1">More Products</h2>
    <div class="whole-box">
        <div class="box1" style="display:flex;flex-wrap:wrap;">
            @await Component.InvokeAsync("Product", new{count = 6})
        </div>

    </div>
    </section>
  


    <a href="#" class="scrollup" id="scroll-up">
        <i class="fa-solid fa-arrow-up scrollup__icon"></i>
    </a>

