<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoCamping - @ViewBag.Title</title>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
@*
    <link href="~/assets/css/about.css" rel="stylesheet" />
    <link href="~/assets/css/shop.css" rel="stylesheet" />
    <link href="~/assets/css/contact.css" rel="stylesheet" />
    <link href="~/assets/css/registration.css" rel="stylesheet" />*@

  
    @RenderSection("addcss", false)
</head>
<body>
@await Component.InvokeAsync("Header")
   

   @RenderBody();

    @await Component.InvokeAsync("Footer")


    <a href="#" class="scrollup" id="scroll-up"> 

        <i class="fa-solid fa-arrow-up scrollup__icon"></i>
    </a>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="~/assets/js/main.js"></script>
<script>
        $(document).on('change', '#price', function () {
            $('#amount').text(`Price: ${$(this).val()}`);
        });
   </script>
<script src="~/assets/js/shop.js"></script>
<script src="~/assets/js/product.js"></script>
<script src="~/assets/js/contact.js"></script>
<script src="~/assets/js/about.js"></script>
<script src="~/assets/js/registration.js"></script>
</html>