@import url("https://fonts.googleapis.com/css2?family=Mynerve&family=Open+Sans:wght@300;400;500&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
/*----------- header ------------ */
.header-top {
  width: 100%;
  background-color: black;
  height: 45px;
}
.headertop-items a,
h5 {
  color: white;
}
.headertop-items {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}
.sign-in {
  padding-right: 20px;
}
.headertop-items h5 {
  letter-spacing: 1px;
  font-weight: 400;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.logoo {
  color: black;
  font-family: "Mynerve", cursive;
  font-size: 26px;
  font-weight: 500;
}
.logoo span {
  color: red;
}
.navs a {
  color: black;
  font-size: 18px;
  transition: 0.4s ease-in-out;
}
.navs a:hover {
  color: red;
}
.navs {
  width: 340px;
}
.navs ul {
  letter-spacing: 2px;
  justify-content: space-between;
  display: flex;
}
.header-full {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  height: 72px;
}
.cart-liked ul {
  display: flex;
}
#cart-icon {
  font-size: 1.4rem;
  cursor: pointer;
}

.dropdown {
  display: block !important;
  position: absolute;
  left: 51%;
  top: 11%;
  z-index: 20;
  width: 150px;
  height: 140px;
  background-color: black;
}
.dropdown a {
  color: white;
}
.dropdown ul {
  padding: 8px 0;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.const {
  display: none;
}

.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: white;
  border: 1px solid red;
  z-index: 20;
  transition: 1.5s;
}
.cart.active {
  right: 0;
  transition: 0.5s;
}
.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}
.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 16px;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}
.card-product-title {
  font-size: 1rem;
  text-transform: uppercase;
}
.cart-price {
  font-weight: 500;
}
.cart-remove {
  font-size: 24px;
  color: red;
  cursor: pointer;
}
.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid black;
}
.total-title {
  font-size: 1rem;
  font-weight: 600;
}
.total-price {
  margin-left: 0.5rem;
}
.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
}
#cart-close {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

/* ----------main---------- */
.shop-container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}
.left-sidebar{
    max-width: 280px;
}
.select-btn{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.select-btn .btn-text{
    font-size: 17px;
    font-weight: 400;
    color: #333;
}
.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: red;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
}
.list-items{
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
}
.select-btn.open ~ .list-items{
    display: block;
}
.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}
.item .item-text{
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
    background-color: red;
    border-color: red;
}
.checkbox .check-icon{
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}
.item.checked .check-icon{
    transform: scale(1);
}
.topofthat{
  display: flex;
  align-items: center;
}
.topofthat .bx-filter{
  font-size: 24px;
  padding-right: 10px;
}
.topofthat h1{
  letter-spacing: 4px;
}
.firstdropdown{
  padding-top: 22px;
}

.colorchanger label input{
  margin-right: 6px;
accent-color: red;
transition: 0.5s ease-in-out;
cursor: pointer;
}
.colorchanger label{
  display: flex;
}
.colorcontent{
  width: 235px;
  height: 255px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius:8px;
}
.allitems{
  padding-left: 22px;
  padding-top: 16px;
  line-height: 28px;
}

.colortitle{
padding-top: 22px;
padding-bottom:2px;
}
.colortitle h2{
  margin-left: 4px;
  letter-spacing: 3px;
  font-size: 22px;
  font-weight: 500;
}
.forcategory{
  padding-top: 12px;
  padding-bottom:6px;
}
.forcategory h2{
  margin-left: 4px;
  letter-spacing: 3px;
  font-size: 22px;
  font-weight: 500;
}

.categorynames{
  width: 240px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius:8px;
  margin-bottom: 28px;
}
.allitems2 a{
  color: black;
  font-size: 12px;
  margin-left: 10px;
}
.allitems2 li{
  padding-bottom: 8px;

}
.allitems2{
  align-items: center;
  padding-top: 18px;
}
.allitems2 span{
  font-size: 13px;
  float: right;
  margin-right:10px;
}

.inputucun{
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box{
  position: relative;
  margin-right: 62px;
  width: 280px;
  height: 42px;
  border: 2px solid red;
  border-radius: 6px;
}
.input-elements{
  padding-top: 6px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.input-elements input{
  margin-right: 8px;
}
.inputsearch{
  background-color: transparent;
  border: none;
  font-size: 14px;
}
.inputsearch:focus{
  outline: none;
}
.lupa{
  color:red;
}
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }



.right-products{
  width: 880px;
}
.shop-items{
  display: flex;
  justify-content: space-between;
}
.product-box{
  position: relative;
  transition: 0.4s;
  width: 262px;
}
.product-title{
  width: 260px;
  font-size: 14px;
  padding-top: 10px;
}
.whole-box{
  padding-top: 42px;
}
.add-cart{
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px;
}
.asdfg{
  padding-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price{
  font-weight: 400;
}
.product-image{
  width: 262px;
  height: 260px;
  background-color: whitesmoke;
}
.product-image img{
  width: 100%;
}

.allproducts{
  display: grid;
  grid-template-columns: repeat(3, 262px);
  gap: 60px;
}

.apply-btn{
  outline: none;
  border: none;
  background-color: black;
  color: white;
  padding:12px 22px;
  text-transform: uppercase;
  cursor: pointer;
}


/* -------footer ---------- */
footer{
  padding-top: 120px;
}
.footercover{
  width: 100%;
  height: 400px;
  background-color:#111;
}
.footeritems{
  width: 1200px;
  margin: 0 auto;
  color: white;
}
.quote{
  padding-top: 14px;
}
.footerlogo {
  font-size: 32px;
  color: white;
  font-family: 'Mynerve', cursive;    
}
.footerlogo span{
  color: red;
}
.footertop-items p{
  font-size: 14px;
  color: #b7b7b7;
}
.footertop-items{
  display: flex;
  justify-content:space-between;
  padding-top: 98px;
  padding-bottom: 80px;
}
.ikincibasliq {
  font-size: 20px !important;
  letter-spacing: 3px;
  color: white !important;
}
.linklerfooter{
  padding-top: 10px;
}
.linklerfooter a{
  padding:5px 0;
  letter-spacing: 1px;
  font-size: 14px;
  display: block;
  color: #b7b7b7;
}
.befirst{
  padding: 12px 0;
}
.dorduncu form{
  padding-top: 12px;
}
.dorduncu form input{
  width: 100%;
  font-size: 15px;
  color: #3d3d3d;
  background: transparent;
  border: none;
  padding: 15px 0;
  border-bottom: 2px solid #ffffff;
}
.newsletter:focus{
  outline: none;
}
.footerbottom-items{
  width: 100%;
  height: 1px;
  background-color: #b7b7b797;
}

.scrollup{
  position: fixed;
  background:red;
  right: 1rem;
  bottom: -20%;
  display: inline-flex;
  padding: 6px 8px;
  border-radius: .25rem;
  z-index: 32;
  opacity: .8;
  transition: .4s;
}
.scrollup__icon{
  font-size: 1rem;
  color: white;
}
.scrollup:hover{
  opacity: 1;
}

/* Show Scroll Up*/
.show-scroll{
  bottom: 3rem;
}